In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
pd.options.display.float_format = '${:,.2f}'.format

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pud =  pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [2]:
# Player Count
print(f"Total Number of Players:{purchase_data['SN'].nunique()}")

Total Number of Players:576

In [3]:
#Purchasing Analysis (Total)
pur = {"Number of Unique Items":[purchase_data["Item ID"].nunique()], 
          "Average Price":[purchase_data["Price"].mean()],
          "Number of Purchases":[purchase_data["Purchase ID"].count()],
          "Total Revenue":[purchase_data["Price"].sum()]}
pur_df = pd.DataFrame(data=pur)

# Formatting of Numbers
pur_df["Average Price"] = pur_df["Average Price"].map("${0:,.2f}".format)
pur_df["Total Revenue"] = pur_df["Total Revenue"].map("${0:,.2f}".format)


pur_df.apply
print(pur_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [84]:
gender_data = purchase_data[["Gender","SN"]].drop_duplicates()

In [85]:
purchase_data["Gender %"] = purchase_data["Gender"].sum()

In [86]:
#purchase_data.value_counts("Gender")

In [87]:
#Gender Demographics
gender_count = gender_data.groupby("Gender").count()
gender_percent = (gender_data.groupby("Gender").count()/gender_data.count())*100
del gender_percent["Gender"]
disp_gender = pd.merge(gender_count,gender_percent,on="Gender")
disp_gender.columns = ["Total Count", "Percentage of Players"]
disp_gender["Percentage of Players"] = disp_gender ["Percentage of Players"].map("{0:,.2f}%".format)
#Display
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
disp_gender

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [20]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
pur = {
    "Number of Unique Items":[purchase_data["Item ID"].nunique()], 
          "Average Price":[purchase_data["Price"].mean()],
          "Number of Purchases":[purchase_data["Purchase ID"].count()],
          "Total Revenue":[purchase_data["Price"].sum()]}
#Create a summary data frame to hold the results
pur_df = pd.DataFrame(data=pur)

# Formatting of Numbers
pur_df["Average Price"] = pur_df["Average Price"].map("${0:,.2f}".format)
pur_df["Total Revenue"] = pur_df["Total Revenue"].map("${0:,.2f}".format)
pur_df.apply
#Display the summary data frame
print(pur_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,$3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,$1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46
778,778,Sisur91,7,Male,92,Final Critic,$4.19
779,779,Ennrian78,24,Male,50,Dawn,$4.60

In [43]:
#Purchasing Analysis (Gender)
df_gen_a = pud.loc[:,["Gender","SN"]].groupby(["Gender"]).count()
#Avg Price
df_gen_b = pud.loc[:,["Gender","Price"]].groupby(["Gender"]).mean()
#Total Purchase Value
df_gen_c = pud.loc[:,["Gender","Price"]].groupby(["Gender"]).sum()
#Avg Total Purchase Value
df_gen_d = pud.loc[:,["Gender","Price"]].groupby(["Gender"]).mean()
df_gen = pd.merge(df_gen_a,df_gen_b,on=["Gender"])
df_gen = pd.merge(df_gen,df_gen_c,on=["Gender"])
df_gen = pd.merge(df_gen,df_gen_d,on=["Gender"])
df_gen.columns = ["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]
df_gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [111]:
#Age Demographics
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,99.99]
group_names = ["<10","10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
age_data = purchase_data[["Gender","SN","Age"]].drop_duplicates()
age_data["Age Group"] = pd.cut(age_data["Age"],bins,labels=group_names,include_lowest=True)

#Purchase Count
re_data = age_data.groupby("Age Group").count()
val = pd.to_numeric(age_data.count())
#Percent of players 
re_data["Percentage of Players"]= (re_data["Age"]/576)*100
re_data["Percentage of Players"]  = re_data["Percentage of Players"].map("{0:,.2f}%".format)

re_data.columns = ["Total Count","SN Count","Age Count","Percentage of Players"]
#Percent of players and display
re_data[["Total Count","Percentage of Players"]]

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [44]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#Purchase Count
df_topa = pud.loc[:,["SN","Purchase ID"]].groupby(["SN"]).count()
  
#Average Purchase Price
df_topb = pud.loc[:,["SN","Price"]].groupby(["SN"]).mean()
#Total Purchase Value
df_topc = pud.loc[:,["SN","Price"]].groupby(["SN"]).sum()
df_top5 = pd.merge(df_topa,df_topb,on="SN")
df_top5 = pd.merge(df_top5,df_topc,on="SN")
df_top5.columns = [ "Purchase Count","Average Purchase Price","Total Purchase Value"]
df_sort_top5 = df_top5.sort_values(by=["Purchase Count","Total Purchase Value"],ascending=False).head(5)
df_sort_top5 = df_sort_top5.sort_values(by="Total Purchase Value",ascending=False)
df_sort_top5

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

In [ ]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
df_item_a = pud.loc[:,["Item ID","Item Name","SN"]].groupby(["Item ID","Item Name"]).count()
#Item Price
df_item_b = pud.loc[:,["Item ID","Item Name","Price"]].groupby(["Item ID","Item Name"]).mean()
#Total Purchase Value

df_item_c = pud.loc[:,["Item ID","Item Name","Price"]].groupby(["Item ID","Item Name"]).sum()

df_item = pd.merge(df_item_a,df_item_b,on=["Item ID","Item Name"])
df_item = pd.merge(df_item,df_item_c,on=["Item ID","Item Name"])
df_item.columns = ["Purchase Count","Item Price","Total Purchase Value"]

# Sort & display Most Popular Items
df_item = df_item.sort_values(by="Purchase Count",ascending=False)
df_item.head(5)

In [ ]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):
# Sort & display Most Popular Items
df_item = df_item.sort_values(by="Total Purchase Value",ascending=False)
df_item.head(5)

In [ ]:
#You must include a written description of three observable trends based on the data.
# MALE Players outnumbered  Female Players
# Average Ticket price was less than $10
# Age group 20-24 was almost 45% of players
# Top Purchase