In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Player Count

print(f"Total Number of Players:{purchase_data['SN'].nunique()}")

Total Number of Players:576

In [3]:
#Purchasing Analysis (Total)

pur = {"Number of Unique Items":[purchase_data["Item ID"].nunique()], 
          "Average Price":[purchase_data["Price"].mean()],
          "Number of Purchases":[purchase_data["Purchase ID"].count()],
          "Total Revenue":[purchase_data["Price"].sum()]}
pur_df = pd.DataFrame(data=pur)

# Formatting of Numbers
pur_df["Average Price"] = pur_df["Average Price"].map("${0:,.2f}".format)
pur_df["Total Revenue"] = pur_df["Total Revenue"].map("${0:,.2f}".format)


pur_df.apply
print(pur_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
gender_data = purchase_data[["Gender","SN"]].drop_duplicates()
gender_data 
#np.unique(gender_data)

     Gender             SN
0      Male        Lisim78
1      Male    Lisovynya38
2      Male     Ithergue48
3      Male  Chamassasya86
4      Male      Iskosia90
..      ...            ...
773    Male         Hala31
774    Male     Jiskjask80
775  Female     Aethedru70
777    Male     Yathecal72
778    Male        Sisur91

[576 rows x 2 columns]

In [5]:
purchase_data["Gender %"] = purchase_data["Gender"].sum()

In [6]:
#purchase_data.value_counts("Gender")

In [7]:
#Gender Demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

disp_gender = [gender_data.groupby("Gender").count(),(gender_data.groupby("Gender").count()/gender_data.count())*100]
disp_gender["SN"] = disp_gender ["SN"].map("{0:,.2f}%".format)
disp_gender.columns = ["Gender","% Percentage"]
disp_gender["% Percentage"]

TypeError: list indices must be integers or slices, not str