In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pud =  pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
# Player Count

print(f"Total Number of Players:{purchase_data['SN'].nunique()}")

In [ ]:
#Purchasing Analysis (Total)

pur = {"Number of Unique Items":[purchase_data["Item ID"].nunique()], 
          "Average Price":[purchase_data["Price"].mean()],
          "Number of Purchases":[purchase_data["Purchase ID"].count()],
          "Total Revenue":[purchase_data["Price"].sum()]}
pur_df = pd.DataFrame(data=pur)

# Formatting of Numbers
pur_df["Average Price"] = pur_df["Average Price"].map("${0:,.2f}".format)
pur_df["Total Revenue"] = pur_df["Total Revenue"].map("${0:,.2f}".format)


pur_df.apply
print(pur_df)

In [2]:
gender_data = purchase_data[["Gender","SN"]].drop_duplicates()
gender_data 
#np.unique(gender_data)

NameError: name 'purchase_data' is not defined

In [ ]:
purchase_data["Gender %"] = purchase_data["Gender"].sum()

In [ ]:
#purchase_data.value_counts("Gender")

In [ ]:
#Gender Demographics
gender_count = gender_data.groupby("Gender").count()
gender_percent = (gender_data.groupby("Gender").count()/gender_data.count())*100
del gender_percent["Gender"]
disp_gender = pd.merge(gender_count,gender_percent,on="Gender")
disp_gender.columns = ["Total Count", "Percentage of Players"]
disp_gender["Percentage of Players"] = disp_gender ["Percentage of Players"].map("{0:,.2f}%".format)
#Display
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
disp_gender

In [ ]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
pur = {
    "Number of Unique Items":[purchase_data["Item ID"].nunique()], 
          "Average Price":[purchase_data["Price"].mean()],
          "Number of Purchases":[purchase_data["Purchase ID"].count()],
          "Total Revenue":[purchase_data["Price"].sum()]}
#Create a summary data frame to hold the results
pur_df = pd.DataFrame(data=pur)

# Formatting of Numbers
pur_df["Average Price"] = pur_df["Average Price"].map("${0:,.2f}".format)
pur_df["Total Revenue"] = pur_df["Total Revenue"].map("${0:,.2f}".format)
ur_df.apply
#Display the summary data frame
print(pur_df)

In [ ]:
#Age Demographics
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,44.99,49.99]
group_names = ["<10","10-14", "15-19", "20-24", "25-29","30-34","35-39","40-44","45-49"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=group_names,include_lowest=True)

#Purchase Count
re_data = purchase_data.groupby("Age Group")["Purchase ID"].count()

#Average Purchase Price
re_data_avgPrice = purchase_data.groupby("Age Group")["Price"].mean()

#Total Purchase Value
re_data_total = purchase_data.groupby("Age Group")["Price"].sum()
mer = pd.merge(re_data,re_data_avgPrice,on=["Age Group"])
mer2 = pd.merge(mer,re_data_total,on=["Age Group"])
mer2



#Average Purchase Total per Person by Age Group
re_data_total_sn = purchase_data.groupby(["Age Group","SN"])["Price"].mean().dropna()
re_data_total_sn

In [34]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#Purchase Count
df_topa = pud.loc[:,["SN","Purchase ID"]].groupby(["SN"]).count()
  
#Average Purchase Price
df_topb = pud.loc[:,["SN","Price"]].groupby(["SN"]).mean()
#Total Purchase Value
df_topc = pud.loc[:,["SN","Price"]].groupby(["SN"]).sum()
df_top5 = pd.merge(df_topa,df_topb,on="SN")
df_top5 = pd.merge(df_top5,df_topc,on="SN")
df_top5.columns = [ "Purchase Count","Average Purchase Price","Total Purchase Value"]
df_sort_top5 = df_top5.sort_values(by=["Purchase Count","Total Purchase Value"],ascending=False).head(5)
$df_sort_top5.sort_values(by="Total Purchase Value",ascending=False)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Iral74                    4                3.405000                 13.62
Inguron55                 3                3.703333                 11.11
Asur53                    3                2.480000                  7.44

In [5]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [ ]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value